django==5.2.7
pip==25.1.1
pillow==12.0.0
six==1.17.0
djangorestframework==3.16.1
django-filter==25.2
djangorestframework_simplejwt==5.5.1
celery==5.5.3
django-celery-beat==2.8.1
redis==7.0.0
flower==2.0.1